@{
    ViewData["Title"] = "- Administración de Apps";
}

@model List<App>

<main class="container text-center px-2 py-3 mb-4">
    <h1 class="display-4 lead text-center mb-2">
        Panel Admin
    </h1>

    <div class="d-grid">
        <a asp-controller="Admin"
           asp-action="Create"
           class="btn btn-secondary py-2">
            Añadir App
        </a>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>App</th>
                    <th>Nombre EXE</th>
                    <th>Directorio</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="text-center">
                @foreach (App app in Model)
                {
                    <tr>
                        <td class="text-break">
                            <p>@app.Name</p>
                            <img src="~/images/apps/@app.Icon" alt=""
                                 class="size-icon" />
                        </td>
                        <td class="text-break">@app.ExeName</td>
                        <td class="text-break">@app.Path</td>
                        <td class="d-flex justify-content-center align-items-center">
                            <a asp-controller="Admin"
                               asp-action="Update"
                               asp-route-id="@app.Id"
                               class="btn btn-outline-primary me-1">
                                Editar
                            </a>
                            <form asp-controller="Admin" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@app.Id" />
                                <button type="submit"
                                        class="btn btn-outline-danger">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
